* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #384B70;
  color: #FCFAEE;
}

header a {
  color: #FCFAEE;
}

.captalize {
  text-transform: capitalize;
}